:root {
  --color-honeydew: #F1FAEE;
  --color-prussian-blue: #1D3557;
  --color-celadon-blue: #457B9D;
  --color-powder-blue: #A8DADC;
  --color-imperial-red: #E63946;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-color: var(--color-honeydew);
  color: var(--color-prussian-blue);
}

.background-detail-1 {
  background-color: var(--color-prussian-blue);
  width: 25000px;
  height: 1400px;
  border-bottom-left-radius: 800px;
  position: absolute;
  top: -630px;
  left: 360px;
  z-index: 1;
}

.background-detail-2 {
  background-color: var(--color-prussian-blue);
  width: 860px;
  height: 860px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -430px;
  z-index: 1;
}

.opacity-9 {
  opacity: .9;
}

.text-right {
  text-align: right;
}

.text-imperial-red {
  color: var(--color-imperial-red);
}

.text-powder-blue {
  color: var(--color-powder-blue);
}

.text-celadon-blue {
  color: var(--color-celadon-blue);
}

.font-size-22 {
  font-size: 22px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-28 {
  font-size: 28px;
}

.relative {
  position: relative;
}

.z-index-2 {
  position: relative;
  z-index: 2;
}

.content {
  padding-left: .5rem;
  padding-right: .5rem;
  max-width: 1024px;
  margin: 0 auto;
}

.border {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

p + p {
  margin-top: 2rem;
}

a {
  color: inherit;
}

h2 {
  font-size: 36px;
  font-weight: normal;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: .5rem;
}

img {
  max-width: 100%;
}

a:hover {
  opacity: .8;
}

ul {
  list-style-type: none;
}

footer {
  position: relative;
  overflow: hidden;
  padding: 140px 0 20px;
  color: var(--color-powder-blue);
  text-align: center;
}

section {
  text-align: center;
  padding: 2rem 0;
}

.elevate-img {
  width: 100%;
  max-width: 590px;
  margin: 2rem auto 0;
}

.elevate-img img {
  display: block;
}

.d-flex {
  display: flex;
}

.col-icon {
  padding: .5rem .75rem 0 0;
}

.flex-grow {
  flex-grow: 1;
}

.circle {
  width: 24px;
  height: 24px;
  border: 5px solid var(--color-prussian-blue);
  border-radius: 100%;
}

.circle.filled {
  background-color: var(--color-prussian-blue);
}

.recent-work-list {
  margin: 0 auto;
  text-align: left;
  max-width: 590px;
}

.recent-work-list li {
  margin-top: 2rem;
}

.recent-work-list h4 small {
  font-size: .8rem;
}

.lang-selector {
  font-size: 14px;
  text-align: center;
  padding: .5rem 0
}

main {
  position: relative;
  overflow-x: hidden;
  height: 770px;
}

.main-columns {
  height: 700px;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.main-columns .col {
  width: 460px;
}

.main-columns .col .font-size-22 + .font-size-28 {
  margin-top: 2rem;
}

.main-columns .col .font-size-28 + p {
  margin-top: 2rem;
}

.p-2 {
  padding: .5rem;
}

.align-items-center {
  align-items: center;
}

.card {
  position: relative;
  margin: .75rem 0;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .20);
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .25);
}

.card-star {
  position: absolute;
  top: -18px;
  left: -18px;
}

.card-image {
  width: 130px;
  padding: 15px;
}

.card-image img {
  display: block;
}

.card-title {
  font-weight: bold;
  margin-bottom: .25rem;
}

.card-content {
  color: #424242;
  font-size: 14px;
}

.card-link {
  font-size: 14px;
}

